/* styles.css */
body {
    background: white;
    color: black;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #000000; /* Adjusted background color */
    color: white;
    text-align: center;
    padding: 10px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1 {
    color: #ffffff; /* Adjusted text color */
}

h2, h3 {
    color: #000000; /* Adjusted text color */
}

section {
    margin: 20px;
}

button {
    background-color: #000000;
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #0a1c7c;
}

div {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

select {
    width: 50%;
    padding: 8px;
    margin-top: 3px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

table {
    width: 100%;
    overflow-x: auto;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 8px;
    text-align: left;
}

/* Allow content to wrap within the table */
th, td {
    white-space: normal;
}

input {
    width: 60%;
    box-sizing: border-box;
}

th {
    background-color: #000000;
    color: white;
}

tfoot {
    background-color: #000000;
    color: white;
}

tfoot td {
    padding-top: 10px;
    border: none; /* Remove borders from the footer */
}

tfoot td:first-child {
    font-weight: bold;
}

span {
    font-weight: bold;
    color: #000000;
}
